// Стили для кнопки
button {
  display: inline-flex; // Используем flex для центрирования иконки
  align-items: center; // Центрируем иконку по вертикали
  justify-content: center; // Центрируем иконку по горизонтали
  width: 60px; // Укажите нужную ширину
  height: 48px; // Укажите нужную высоту
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 3px #a00;
  }

  &:focus,
  &:focus-visible {
      outline: none;
  }
  &:active {
    border: none;
  }
}