// ==========================
// Стили для заголовка
// ==========================
@use '../base/variables';

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: variables.$color-header-bg; // Цвет фона заголовка
    color: #fff; // Цвет текста заголовка
    padding: 4px 24px; // Отступы внутри заголовка
    text-align: center; // Центрирование текста
    font-size: 1.5rem; // Размер шрифта заголовка
    height: 60px;
    width: 100%;
}