// ==========================
// Стили для заголовка
// ==========================
@use '../utils/variables';

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: variables.$color-header; // Цвет фона заголовка
    color: #fff; // Цвет текста заголовка
    padding: 4px 24px; // Отступы внутри заголовка
    text-align: center; // Центрирование текста
    font-size: 1.5rem; // Размер шрифта заголовка
    height: 60px;
    width: 100%;
    
  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}