@use '../utils/variables';

@font-face {
    font-family: 'Squada One';
    src: url('/src/assets/fonts/SquadaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.logo {
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: variables.$color-logo;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo-link {
    display: inline-block; /* Позволяет применять стили к ссылке */
    text-decoration: none; /* Убирает подчеркивание */
}
    