.nav {
    margin-left: 24px;
  
    &__icon {
      display: none;
      font-size: 24px;
      cursor: pointer;
    }
  
    &__items {
      display: flex;
    }
  
    &__item {
      display: flex;
  
      &--link {
        margin-right: 16px;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
  
        &:hover {
          color: rgba(255, 255, 255, 0.7);
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
  
        &:active {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
    }
  }
  