@use '../utils/variables';

input, select, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Стили для логотипа */
$color-logo: #fff;

/* Стили для тем оформления */
.light-theme {
  background-color: #fff;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}


// Темы
@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }

// Размеры экрана
@media screen and (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    background-color: variables.$color-header;
    padding: 20px 0;
    margin: 0;

    &.active {
      display: flex
    }

    &__items {
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    
    &__item {
      margin: 10px 0;

      &--title {
        font-size: 14px;
      } 
    }

    &__icon {
      display: block;
      font-size: 24px;
    } 
  }
      
}