@use '../base/variables';

input, select, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Стили для логотипа */
$color-logo: #fff;

/* Стили для тем оформления */
.light-theme {
  background-color: #fff;
  color: #333;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}


// Темы
@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }

// Размеры экрана
@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  .nav {
    display: none;

    &-toggle {
      display: block; // Показываем кнопку на мобильных устройствах
      font-size: 24px;
      cursor: pointer;
    }
    
    &--open {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      background-color: variables.$color-header-bg;
      padding: 20px 20px;
      margin: 0;
    }

    &__items {
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    
    &__item {
      margin: 10px 0;

      &--title {
        font-size: 14px;
      } 
    }

    
  }
      
}