// Основной файл стилей

// ==========================
// Базовые стили
// ==========================
@use 'base/reset';           // Сброс стилей
@use 'base/typography';      // Базовая типографика

// ==========================
// Макеты
// ==========================
@use 'layout/app';           // Стили для основного приложения 

// ==========================
// Макеты
// ==========================
@use 'pages/error';           // Стили для страницы ошибки


// ==========================
// Утилиты
// ==========================
@use 'utils/variables';      // Переменные стилей
@use 'utils/mixins';         // Вспомогательные функции и миксины

// ==========================
// Темы
// ==========================
@use 'themes/theme';         // Стили для тем оформления

// ==========================
// Компоненты
// ==========================
@use 'components/header';    // Стили для заголовка
@use 'components/logo';      // Стили для логтипа
@use 'components/menu';      // Стили для логтипа
@use 'components/buttons';   // Стили для кнопок
@use 'components/links';     // Стили для ссылок
@use 'components/form';      // Стили для формы
@use 'components/search';      // Стили для поиска
@use 'components/loader';      // Стили для загрузки
@use 'components/footer';      // Стили для подвала
@use 'components/error-message';      // Стили для ошибки

